<ion-header>
  <ion-navbar>
    <ion-title>My Favorite Product</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let p of products">
      <ion-thumbnail item-start>

        <img *ngIf="p.image==null" src="https://ecommerce.jaroji.web.id/uploads/product/images/no-image.jpg" />

        <img *ngIf="p.image!=null" src="https://ecommerce.jaroji.web.id/uploads/product/images/{{ p.image }}"/>
      </ion-thumbnail>
      <h2>{{ p.name }}</h2>
      <p>{{ p.category }}</p>
      <p>{{ p.price | number : fractionSize }}</p>
      <button ion-button clear item-end (click)="remove(p.id)"><ion-icon name="trash" color="danger"></ion-icon></button>
    </ion-item>
  </ion-list>

</ion-content>
